- content_for :title do
  Scores : 

%h2 Scores

%table.scores
  %thead
    %tr
      %th Score
      %th Number of games receiving score
  %tbody
    - @counts.each_with_index do |count,i|
      - score = i+ 1
      %tr
        %td.score= link_to score, "/scores/#{score}"
        %td= "#{count} games"