- content_for :title do
  Games scoring
  = @score
  \: Scores : 

%h2
  = @reviews.size
  games scored
  %span= @score
  in 2009:
  
%table.norm
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th.last Score
  %tbody
    = render :partial => "reviews/review", :collection => @reviews
