.cleardiv {
  display: block;
  clear: both;
}

table.norm {
  width: 100%;
}

table.norm th, table.norm td {
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  padding: 5px;
}

table.norm th {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 150%;
}

table.norm th.last, table.norm td.last {
  border-right: none;
}

table.norm tr.last td {
  border-bottom: none;
}

table.norm td.score {
  text-align: center;
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 150%;

}

table.norm td.score a:link, table.norm td.score a:visited {
  text-decoration: none;
  color: #207ef9;
} 

table.norm td.score a:hover {
  color: red;
  text-decoration: underline;
}

td.center {
  text-align: center;
}

td.big {
  font-weight: bold;
  font-size: 150%;
}

h2 {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 300%;
  border-bottom: 1px solid #888;
  padding: 0 10px;
}

.top {
  background: #207ef9;
  color: white;
  width: 100%;
  clear: both;
}

.top h1 {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 200%;
  margin: 0;
  color: white; 
}

.top p {
  margin: 0;
}

.top a {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 200%;
  margin: 0;
  color: white; 
}

.top a:link, .top a:visited {
  color: white;
  text-decoration: none;
}

.top a:hover {
  color: red;
  text-decoration: underline;
}

table.writer {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  text-transform: uppercase; 
  margin: 10px 0;
}

table.writer th {
  font-size: 200%;
  color: #888;
  text-align: center;
  font-weight: normal;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

table.writer th.writer {
  vertical-align: middle;
  border-bottom: none;
  color: black;
  font-size: 500%;
}

table.writer th.writer h2 {
  border-bottom: none;
  font-size: 100%;
  margin: 0;
}

table.writer th.last {
  border-right: none;
}

table.writer td {
  font-size: 400%;
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

table.writer td.last {
  border-right: none;
}

table.writer td.score {
  color: #207ef9;
}

h1 span, h2 span {
  color: #207ef9;
}

table.scores {
  font-family: "league-gothic-1","league-gothic-2",sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 200%;
  color: #888;
}

table.scores th {
  display: none;
}

table.scores td {
  padding: 0 10px;
}

table.scores td.score a {
  font-weight: normal;
}

table.scores td.score a:link, table.scores td.score a:visited {
  color: #207ef9;
  text-decoration: none;
}

table.scores td.score a:hover {
  color: red;
  text-decoration: underline;
}

a {
  font-weight: bold;
}

a:link, a:visited {
  text-decoration: none;
  color: #207ef9;
} 

a:hover {
  color: red;
  text-decoration: underline;
}