- content_for :title do
  = @writer.name
  \: Writers : 

%h2= @writer.name

%table.norm
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th Score
  %tbody
    = render :partial => "reviews/review", :collection => @writer.reviews