- content_for :title do
  Reviews : 

%h2 Reviews

%p
  The average score on Eurogamer in 2009 was
  %b= Review.average(:score)

%table.norm
  %thead
    %tr
      %th Date
      %th Game
      %th Platform
      %th Reviewer
      %th.last Score
  %tbody
    = render :partial => "reviews/review", :collection => @reviews
