!!!
%html{ :lang => 'en-GB' }
  %head
    %title 
      =yield :title
      Eurogamer 2009 Wrap-up
    %meta{ :charset => "utf-8" }
    = stylesheet_link_tag 'reset', 'text', '960', 'eurogamer2009'
    = javascript_include_tag 'application', :cache => true
  %body
    .container_12
      .grid_12
        %h1 Eurogamer: 2009 analysis
        %p
          =link_to "Reviews", reviews_path
          =link_to "Writers", writers_path
          =link_to "Scores", scores_path
      .grid_12
        = yield